<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.procleus.brime">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name=".ui.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.GetStartedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="Brime"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".login.SigninActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />

        <activity
            android:name=".ui.IntroActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme2" />

        <activity
            android:name=".ui.SettingsClickedActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEditNotes" />

        <activity
            android:name=".ui.SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_settings"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeEditNotes" />
        @style/AppTheme2"
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ui.CreateNotesActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.EditNotesActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppThemeEditNotes" />

        <receiver android:name=".widget.Widget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <activity android:name=".ui.LabelOpenActivity" />
        <activity android:name=".ui.CreateAudioNotesActivity"></activity>
        <provider
            android:name=".data.NotesProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />

    </application>

</manifest>